.publications {
    --flex-direction: column;
    --flex-wrap: nowrap;
    --gap: 1rem;
    --justify-content: flex-start;
    --align-items: center;

    .card {
        color: var(--color);
        text-align: center;
    
        width: 80%;
        border-radius: 0.5rem;
    
        transition: transform 300ms ease;
        background-color: var(--card-bg);
    
        .card-title {
            font-size: 1.25rem;
        }
    
        .card-content {
            align-self: stretch;
            padding: 1.5rem;
        }
        
        .card-body {
            color: var(--color);
        }
        
        .see-button {
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            color: white;
            background-color: var(--button-bg);
            padding: 0.5em 1.5em;
            border-radius: 0.25rem;
        }
        
        .see-button:hover,
        .see-button:focus {
            background-color: rgba(231, 23, 23, 0.5);
        }
    }

    .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
    }

    .fade-in.appear {
        opacity: 1;
    }

    .return {
        cursor: pointer;
        display: none;
        color: white;
        background-color: var(--button-bg);
        padding: 0.5em 1.5em;
        border-radius: 0.25rem;
    }
    
    .return:hover,
    .return:focus {
        background-color: rgba(231, 23, 23, 0.5);
    }
}

@media (max-width: 768px) {
    .publications {
        --gap: 1rem;
    }
}