.dis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 30pt;
}

.contact-button {
    width: 10vw;
    background-color: grey;
    border-radius: 15vw;
    cursor: pointer;

    font-size: 20pt;
    color: white;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

li {
    display: inline;
    text-align: center;
    margin-right: 5vw;
}

a {
    color: white;
    text-decoration: none;
}

.pubs {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.cards-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 5vh;
    background-color: grey;
    border: 1px solid black;
    border-radius: 0.5vw;
    margin-bottom: 1vh;
}

.card-icon {
    cursor: pointer;
    width: 3vw;
    height: 4vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.union {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}