---
import Layout from "@/layouts/Layout.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import AboutMe from "@/components/en/AboutMe.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Projects from "@/components/Projects.astro";
import Publications from "@/components/Publications.astro";
---

<Layout
  title='Alex Martínez Martínez - Portfolio'
  description='Página web personal de Alex Martínez Martínez, donde se enlazan todos sus proyectos y contribuciones académicas y profesionales.'>
  <Header />
  <main class='px-4'>
    <SectionContainer class='py-16 md:py-28'>
      <Hero />
    </SectionContainer>
  </main>
  <div class='space-y-24 px-4'>
    <SectionContainer id='about-me'>
      <h2
        class='flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white not-selectable'>
        <ProfileCheck class='size-7' />
        About me
      </h2>
      <AboutMe />
    </SectionContainer>
    <SectionContainer id='projects'>
      <h2
        class='flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white not-selectable'>
        <CodeIcon class='size-7' />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id='publications'>
      <h2
        class='flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white not-selectable'>
        <CodeIcon class='size-7' />
        Publications
      </h2>
      <Publications />
    </SectionContainer>
  </div>
</Layout>
