---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alex Martínez Martínez">
	<Navbar active='about'/>
	<section class="section flex">
	</section>
</Layout>