.contact {
    width: 100dvw;
    height: 95dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1dvw;
}

.contact-buttons a {
    color: inherit;
    text-decoration: none;
}