---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alex Martínez Martínez">
	<Navbar active='index'/>
	<section class="section flex">
		<div class='info flex page'>
            <h1 class='name'>Alex Martínez Martínez</h1>
            <h2 class="roles">Ph.D in Artificial Intelligence</h2>
            <h2 class="roles">Software Engineer</h2>
        </div>
	</section>
</Layout>
