.landing-page {
    width: 100dvw;
    height: 95dvh;

    overflow-x: hidden;
}

.info {
    width: 100dvw;
    height: 95dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    text-align: center;
}

.roles {
    text-align: center;
}

.landing-page::-webkit-scrollbar {
    -webkit-appearance: none;
}

.landing-page::-webkit-scrollbar:vertical {
    width:0.5dvw;
}

.landing-page::-webkit-scrollbar-button:increment,
.landing-page::-webkit-scrollbar-button {
    display: none;
} 

.landing-page::-webkit-scrollbar:horizontal {
    height: 1dvw;
}

.landing-page::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;
}

.landing-page::-webkit-scrollbar-track {
    background-color: transparent;
}