---
import Navbar from '../components/Navbar.astro';
import Project from '../components/project.astro';
import Layout from '../layouts/Layout.astro';

const allProjects = await Astro.glob("../content/projects/*.md");
allProjects.sort((a, b) => {
	return b.frontmatter.id - a.frontmatter.id;
});
---

<Layout title="Alex Martínez Martínez">
	<Navbar active='projects'/>
	<section class="section flex">
		<div class="projects flex list-page">
			{
				allProjects.map((pub) => (
					<Project
						title={pub.frontmatter.title}
						image={pub.frontmatter.image}
						description={pub.frontmatter.description}
						ref={pub.frontmatter.ref}
					/>
				))
			}
		  </div>
	</section>
</Layout>