<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4  [&>p>strong]:text-red-500 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p> Me llamo Alex Martínez Martínez. Llevo en el mundo del desarrollo de software desde los 12 años. Actualmente estoy trajando en mi <strong>doctorado sobre inteligencia artificial</strong>.</p>

    <p>
        El enfoque principal de mi tesis es el desarrollo de <strong>sistemas de recomendación para la educación a distancia</strong>. También he desarrollo algoritmos de <strong>GameAI</strong>, <strong>QuantumAI</strong> e <strong>Indoor Positioning</strong>.
    </p>

    <p>
      Actualmente cuento con <strong>varias publicaciones académicas indexadas</strong>, tanto en congresos como en <strong>revistas de alto impacto</strong> y estoy colaborando en el proyecto <strong>Horizonte Europa <a class="hover:underline cursor-pointer focus-visible:ring-red-500/80 focus:outline-none focus-visible:outline-none focus-visible:ring" href="https://e-diplomaproject.eu/" rel="noopener noreferrer">e-DIPLOMA</a></strong>.
  </div>

  <img width="200" height="200" src="/profile-pic.webp" decoding="async" alt="Foto de Alex Martinez" class="order-1 object-cover w-80 h-full p-1 md:order-2" style="filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5)); mask-image: linear-gradient(to bottom, black 50%, transparent 95%);">

</article>