<div class='flex items-center'>
  <span class='relative inline-flex overflow-hidden rounded-full p-[1px] w-40'>
    <span
      class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#ff9d42_0%,#ff6d42_50%,#ff424b_100%)]'
    ></span>
    <div
      class='inline-flex items-center justify-center w-full px-3 py-1 text-sm rounded-full cursor-pointer bg-slate-800 text-white/80 backdrop-blur-3xl whitespace-nowrap'>
      <slot />
    </div>
  </span>
</div>
