---
import Link from "@/components/icons/Link.astro";
import LinkButton from "@/components/LinkButton.astro";

const { title, subtitle, description, link } = Astro.props;

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<div class='w-full md:w-1/2 md:max-w-lg'>
  <h3 class='text-2xl font-bold text-white'>
    {title} - {subtitle[lang]}
  </h3>
  <div class='flex flex-wrap mt-2'>
    <div
      class='mt-2 text-white [&>strong]:text-red-500'
      set:html={description[lang]}
    />
    <footer class='flex items-end justify-start mt-4 gap-x-4'>
      {
        link && (
          <LinkButton href={link}>
            <Link class='size-4' />
            Preview
          </LinkButton>
        )
      }
    </footer>
  </div>
</div>
