---
import CopyIcon from "@/icons/Copy.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class='opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center'>
  <div
    class='rounded-lg md:w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4'>
    <span class='text-sm sm:text-center text-white/90'
      >Portfolio
      <a href='/' class='hover:underline'>Alex Martínez Martínez </a>
    </span>
    <span
      id='contact'
      class='select-none flex md:flex-wrap items-center text-sm sm:text-center font-medium text-white/90 justify-center md:justify-start'
      >alemarti AT uji DOT es
      <CopyIcon id='copy-icon' class='size-4 ml-2 cursor-pointer' />
      <div
        id='copy-message'
        class='fixed w-[30ch] bottom-20 left-1/2 transform -translate-x-1/2 bg-green-600 text-white px-4 py-2 rounded-md shadow-lg transition-all duration-500 ease-in-out grid place-items-center translate-y-10 opacity-0'>
        {t("email.copy")}
      </div>
    </span>
  </div>
</footer>

<script defer>
  const contact = document.getElementById("contact");
  const copyIcon = document.getElementById("copy-icon");
  const copyMessage = document.getElementById("copy-message");

  copyIcon.addEventListener("click", () => {
    const email = contact.innerText.replace(" AT ", "@").replace(" DOT ", ".");
    navigator.clipboard.writeText(email).then(() => {
      copyMessage.classList.remove("translate-y-10", "opacity-0");
      copyMessage.classList.add("translate-y-0", "opacity-100");
      setTimeout(() => {
        copyMessage.classList.remove("translate-y-0", "opacity-100");
        copyMessage.classList.add("translate-y-10", "opacity-0");
      }, 2000);
    });
  });
</script>
