---
import LinkButton from "@/components/LinkButton.astro";
import Badge from "@/components/Badge.astro";
import LinkedinIcon from "@/icons/Linkedin.astro";
import OrcidIcon from "@/icons/Orcid.astro";
import GithubIcon from "@/icons/Github.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class='w-full'>
  <h1
    class='text-4xl font-bold tracking-tight text-white sm:text-4xl [&>strong]:text-red-500 mt-4'>
    {`${t("hero.hello")} `}<strong
      ><span class='p-name'>Alex Martínez Martínez</span></strong
    >
  </h1>
  <div class='mt-4 flex gap-4 flex-wrap'>
    <Badge> Ph.D, Student </Badge>
    <Badge> AI Researcher </Badge>
    <Badge> Software Engineer </Badge>
  </div>
  <p
    class='mt-4 text-xl text-white [&>strong]:text-red-500 [&>strong]:font-semibold'>
    <strong><span class='p-job'>{`${t("hero.job")}`}</span></strong>
    {`${t("hero.long")}`}
    <strong><span class='p-job'>{`${t("hero.topic")}`}</span></strong>
    {`${t("hero.area")}`}.
  </p>
  <nav class='flex flex-wrap gap-4 mt-4 text-white'>
    <LinkButton href='https://linkedin.com/in/alex-mart-mart'>
      <LinkedinIcon class='size-6' />
      LinkedIn
    </LinkButton>
    <LinkButton href='https://orcid.org/my-orcid?orcid=0000-0002-3751-705X'>
      <OrcidIcon class='size-6' />
      OrcID
    </LinkButton>
    <LinkButton href='https://github.com/almtav08'>
      <GithubIcon class='size-6' />
      Github
    </LinkButton>
  </nav>
</div>

<style>
  @keyframes reveal {
    0% {
      transform: translate(0, 100%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .p-name {
    display: inline-block;
    animation: reveal 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
    animation-fill-mode: backwards;
  }

  .p-job {
    display: inline-block;
    animation: reveal 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
    animation-fill-mode: backwards;
  }
</style>
