---
// src/components/ImageBlock.astro
const { title, image, align } = Astro.props;
---

<div
  class='w-full md:w-1/2 flex flex-col bg-slate-800/40 overflow-hidden rounded-lg h-72'>
  <!-- <img
    alt={`Imagen del proyecto ${title}`}
    class={`object-cover object-${align} w-full h-72 sm:h-full`}
    loading='lazy'
    src={image}
  /> -->
</div>
