---
interface Props {
    title: string;
    image: string;
    description: string;
    ref: string;
}

const { title, image, description, ref } = Astro.props;
---

<div class="card" style=`background-image: url(/images/${image});`>
    <div class="card-content">
        <h2 class="card-title">{title}</h2>
        <p class="card-body">{description}</p>
        <a
            href={ref}
            target="_blank"
            class="see-button">Learn more</a
        >
    </div>
</div>
