---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-red-500 [&>p>strong]:font-normal text-pretty order-2 md:order-1'>
    <p>
      My name is Alex Martínez Martínez. I've been in the software developing
      world since I was 12 years old. Currently I am working in my <strong
        >Ph.D. about artificial intelligence</strong
      >.
    </p>

    <p>
      The main focus of my thesis is the developement of <strong
        >recommender systems for online learning</strong
      >. I've also worked with algorithms about <strong>GameAI</strong>, <strong
        >QuantumAI</strong
      >, and <strong>Indoor Positioning</strong>.
    </p>

    <p>
      I currently have <strong>several indexed academic publications</strong>,
      both in conferences and in <strong>high-impact journals</strong>, and I am
      collaborating on the <strong
        >Horizon Europe <a
          class='hover:underline cursor-pointer focus-visible:ring-red-500/80 focus:outline-none focus-visible:outline-none focus-visible:ring'
          href='https://e-diplomaproject.eu/'
          rel='noopener noreferrer'>e-DIPLOMA</a
        ></strong
      >.
    </p>
  </div>

  <img
    width='200'
    height='200'
    src='/profile-pic.webp'
    decoding='async'
    alt='Foto de Alex Martinez'
    class='order-1 object-cover w-80 h-full p-1 md:order-2'
    style='filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5)); mask-image: linear-gradient(to bottom, black 50%, transparent 95%);'
  />
</article>
