.primary-nav {
    margin: 0;
    width: 100dvw;
}

.nav-links {
  margin: 0;
  padding: 0;

  width: 100dvw;
  height: 5dvh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  list-style: none;
}

.nav-button {
  position: fixed;
  top: 0;
  right: 1dvw;
  display: none;
  cursor: pointer;
}

.hidden {
  visibility: visible;
}

@media (max-width: 768px) {
  .primary-nav {
    background-color: #646cff;
    position: fixed;
    top: 0;
    left: 0;
  }

  .nav-links {
    background-color: #646cff;

    margin-top: 1dvh;
    padding: 0;
  
    width: 100dvw;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  
    list-style: none;
    height: auto;
  }

  .link {
    margin-bottom: 1dvh;
  }

  .nav-button {
    display: block;
  }

  .active:after,.link:after,.active:after,.link:hover:after {
    display: none;
  }

  .hidden {
    visibility: hidden;
  }
}

.primary-nav a {
    color: inherit;
    text-decoration: none;
}

.active:after,
.link:after {
  transition: all .5s;
}

.active:after,
.link {
  position: relative;
}

.link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #646cff;
  height: 2px;
}

.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: red;
    height: 2px;
}

.active:after,
.link:hover:after {
  width: 100%;
}