:root {
  --bg-color: #242424;
  --speed: 4s;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;

  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow: hidden;
}

.page {
  width: 100dvw;
  height: 90dvh;
}

.page .publications::-webkit-scrollbar, .page .projects::-webkit-scrollbar {
  -webkit-appearance: none;
}

.page .publications::-webkit-scrollbar:vertical, .page .projects::-webkit-scrollbar:vertical {
  width:0.5dvw;
}

.page .publications::-webkit-scrollbar-button:increment,
.page .publications::-webkit-scrollbar-button,
.page .projects::-webkit-scrollbar-button:increment,
.page .projects::-webkit-scrollbar-button {
  display: none;
} 

.page .publications::-webkit-scrollbar:horizontal,
.page .projects::-webkit-scrollbar:horizontal {
  height: 1dvw;
}

.page .publications::-webkit-scrollbar-thumb,
.page .projects::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
}

.page .publications::-webkit-scrollbar-track,
.page .projects::-webkit-scrollbar-track {
  background-color: transparent;
}