.flex {
    display: flex;
    gap: var(--gap, 1dvw);
}

.logo {
    width: 4em;
    height: 4em;

    margin: 1rem;
}

.logo:hover {
    filter: drop-shadow(0 0 0.5em #fff);
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
    cursor: pointer;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    --gap: 3rem;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
}

.primary-navigation a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.sr-only {
    visibility: hidden;
}

@media (max-width: 768px) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30dvh, 10rem) 2em;

        z-index: 9000;
        background: #646cff;

        transform: translateX(100%);
        transition: transform 300ms ease-in;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
        z-index: 9999;
    }


}

.active:after,
.link:after {
    transition: all .5s;
}

.active:after,
.link {
    position: relative;
    width: max-content;
}

.link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: #646cff;
    height: 2px;
}

.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: red;
    height: 2px;
}

.active:after,
.link:hover:after {
    width: 100%;
}

.div-menu-one .line {
    transition: 
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    ;
    transform-origin: center;
}

.div-menu-one[aria-expanded="true"] .line {
    transition: 
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
    ;
}

.div-menu-one[aria-expanded="true"] .top {
    y: 45;
    rotate: 45deg;
}

.div-menu-one[aria-expanded="true"] .bottom {
    y: 45;
    rotate: -45deg;
}

.div-menu-one[aria-expanded="true"] .middle {
    opacity: 0;
}